<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

<category label="30070">
    <setting id="VERSION"   type="text" label="" default="0.0.0" visible="false"/>
    <setting id="MANUAL_ID" type="text" label="" default="1"     visible="false"/>

    <setting id="FOLDER" label="30056" type="folder" default="" />

    <setting type="sep" visible="true" />

    <setting id="DEBUG" label="30154" type="bool" default="false" />

    <setting type="sep" visible="true" />
</category>

<category label="30022">
    <setting id="DUMMY"          label="35021" type="lsep" />
    <setting id="INHERIT"        label="30096" type="bool" default="true"  />
    <setting id="SHOW_FANART"    label="30064" type="bool" default="true"  />
    <setting id="DEFAULT_FANART" label="30113" type="enum" lvalues="30114|30115|30116" visible="eq(-1,true)"/>
    <setting id="DEFAULT_IMAGE"  label="30117" type="file" default="" visible="eq(-1,1)+eq(-2,true)"/>

    <setting id="ART_LANDSCAPE"  label="35025" type="enum" lvalues="35024|35022|35023" default="0"/>
    <setting id="ART_BANNER"     label="35026" type="enum" lvalues="35024|35022|35023" default="0" />
    <setting id="ART_POSTER"     label="35027" type="enum" lvalues="35024|35022|35023" default="0" />

    <setting type="sep" visible="true" />
</category>

<category label="35000">
    <setting id="MENU_MSG"    type="bool" default="true" visible="false"/>
    <setting id="CONTEXT"     label="35001" type="bool" default="false" />
    <setting id="CONTEXT_STD" label="35038" type="bool" default="false" />
    <setting id="CONTEXT_STYLE" label="35002" type="enum" lvalues="35003|35004" visible="eq(-2,true)"/>
    <setting id="MENU_EDITFAVE" label="35018" type="bool" default="false" visible="eq(-2,true)|eq(-3,true)"/>

    <setting type="sep" visible="eq(-4,true)"/>

    <setting id="DUMMY"     label="35040" type="lsep"   visible="eq(-5,true)"/>
    <setting id="DUMMY"     label="35041" type="action" action="RunScript($CWD/whitelist.py,True)"  option="close" visible="eq(-6,true)"/>
    <setting id="DUMMY"     label="35042" type="action" action="RunScript($CWD/whitelist.py,False)" option="close" visible="eq(-7,true)"/>
    <setting id="WHITELIST" label=""      type="text"   default="" visible="false"/>

    <setting type="sep" />

    <setting id="DUMMY"               label="35005" type="lsep" visible="eq(-9,true)"/>

    <setting id="MENU_ADDTOFAVES"     label="35006" type="bool" default="true" />
    <setting id="ADDTOFAVES_ON_STD"   label="35045" type="bool" default="false" visible="eq(-1,true)"/>
    <setting id="MENU_PREV_LOCN"      label="35044" type="bool" default="false" visible="eq(-2,true)"/>
    <setting id="MENU_SF_SETTINGS"    label="35012" type="bool" default="true" />
    <setting id="MENU_ADDON_SETTINGS" label="35013" type="bool" default="true" />
    <setting id="MENU_STD_MENU"       label="35014" type="bool" default="true" />

    <setting type="sep" />
</category>

</settings>
